.MainHeader { display: flex; justify-content: space-between; align-items: center; margin: 0 10px;}
.MainHeader__Title { margin: 0;}

.MainNav {}
.MainNav > ul { display: flex; margin: 0; align-items: center;}
.MainNav__Item { list-style-type: none; margin-left: 10px; }

.MainFooter {display: flex; justify-content: center;}

.Banner {height: 300px; display: flex;}

.ContactForm { display: flex; flex-direction: column; width: 300px;}
.ContactForm__Line { display: flex; }
.ContactForm .email { margin: 10px 0px; }
.ContactForm__Line > input { width: 100%; }